<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="USER" value="13322991610@qq.com"/>
    <add key="UKEY" value="CSYhTJRJMfPNrtVj"/>
    <add key="SN" value="218501540"/>
    <add key="SNKEY" value="rgrgmc68"/>
  </appSettings>
</configuration>
