@using OrderingSystem.Domain
@{
    ViewBag.Title = "标签列表";
}
@model OrderingSystem.Admin.Models.BusinessLableVM
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">序号</th>
                                    <th class="text-center">标签名称</th> 
                                    @*<th class="text-center">创建时间</th>*@
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.BusinessLableList != null && Model.BusinessLableList.Count > 0)
                                {
                                    foreach (var item in Model.BusinessLableList)
                                    {
                                        <tr>
                                            <td class="text-center">@item.BusinessLableId</td>
                                            <td class="text-center">@item.Name</td> 
                                            @*<td class="text-center">@item.DishesLable.CreateTime</td>*@
                                            <td>
                                                <a href="/BusinessLable/Edit?Id=@item.BusinessLableId/@item.BusinessInfoId" class="btn btn-info"><i class="fa fa-paste padding-right-4"></i>&nbsp;编辑</a>
                                                <button onclick="del('/BusinessLable/Delete','/BusinessLable/List/@item.BusinessLableId','@item.BusinessLableId')" class="btn btn-danger"><i class="fa fa-times padding-right-4"></i>&nbsp;删除</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-group">
                                <a href="/BusinessLable/Edit?BusinessInfoId=@Model.Id" class="btn btn-info" data-refresh="0"><i class="fa fa-plus padding-right-4"></i>&nbsp;添加</a>
                                <a href="/BusinessLable/List/@Model.Id" class="btn btn-info" style="margin-left:10px;" data-refresh="0"><i class="fa fa-refresh padding-right-4"></i>&nbsp;刷新</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
